<div>
  <p>{{team.id}}</p>
  <form ng-submit="editTeam()">
    <input type="text" name="name" ng-model="team.name" placeholder="Name">
    <input type="text" name="url" ng-model="team.url" placeholder="URL">
    <input type="text" name="description" ng-model="team.description" placeholder="Description">
    <input type="submit" value="Edit Team">
  </form>

  <h4>Invite User</h4>
  <form ng-submit="inviteUser()">
    <input type="text" name="first_name" ng-model="invite.firstName" placeholder="First Name">
    <input type="text" name="last_name" ng-model="invite.lastName" placeholder="Last Name">
    <input type="email" name="email" ng-model="invite.email" placeholder="Email">
    <input type="submit" value="Invite User">
  </form>

  <h2>Users</h2>
  <ul class="list-group">
    <li ng-repeat="user in users" class="list-group-item">
      <h3 ng-bind="user.email"></h3>
      <p>{{ user.firstName }} {{ user.lastName }}</p>
      <p ng-if="team.admins.indexOf(user._id) !== -1">(ADMIN)</p>
    </li>
  </ul>

</div>