<div ng-controller="teamsLoginController">

  <h3>Teams Belonging To "{{ email }}"</h3>
  <ul class="list-group">
    <li ng-repeat="team in teams" class="list-group-item">
      <h3 ng-bind="team._id"></h3>
      <form ng-if="!team.loggedIn" ng-submit="login(user, team)"> 
        <input type="password" ng-model="user.password" placeholder="Password">
        <button type="submit">Login</button>
      </form>
      <form ng-if="team.loggedIn" ng-submit="logout(team)">
        <button type="submit">Logout</button>
      </form>
    </li>
  </ul>
  
</div>